<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- nivo-slider -->
    <link rel="stylesheet" href="assets/plugin/css/default.css">
    <link rel="stylesheet" href="assets/plugin/css/nivo-slider.css">
     <!-- font-awesome    -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <!-- lightbox-gallery -->
     <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
     <!-- flat-icon -->
     <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
     <!-- main-style -->
     {{!-- carousel --}}
     <link rel="stylesheet" href="plugins/css/owl.carousel.min.css">
     <link rel="stylesheet" href="plugins/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <!-- <link rel="stylesheet" href="responsive.css"> -->
    <style>
        .single-product-cart {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #efefef;
            padding: 20px 0px;
        }
       ul.service-list.service-list-cart li {
            font-size: 11px;
            padding: 6px;
        }
       .cart-bottom.d-flex p {
            margin-left: 10px;
        }
        .cart-product-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
        }
        .cart-product-details-home p:first-child {
            font-size: 24px;
        }
        .sub-total-shipping.d-flex.align-items-end.w-100 {
            justify-content: flex-end;
        }
        .cart-product-img img {
            width: 70px;
            margin-right: 0px;
        }
        button.float-right.closeBtn {
        
            font-size: 16px;
        }
    </style>
    <title>Laundry Express</title>
</head>
<body>
 

    <div class="home-wrapper">
      <div class="container">
           <div class="home-wrapper-inner bg-white" style="width: 940px; margin: 0 auto;">
        <header>
            <div class="">
                {{!-- header-top --}}
                <div class="header-top" style="background-color: #EDFAFF;padding: 8px 16px;">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-6 col-sm-6 col-xl-6">
                            <div class="header-top-left">
                                <a href="#"><i class="far fa-comment-alt mr-1"></i>Feedback</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-4 col-sm-4 col-xl-4 offset-md-2 offset-lg-2 offset-sm-2 offset-xl-2 d-flex align-items-end w-100 ">
                            <div class="header-top-right w-100 d-flex justify-content-between">
                                <a href="#" class="text-right"><i class="fas fa-comment-dollar"></i></i>Cost Estimator</a>
                                <a href="#" class="text-right"><i class="far fa-question-circle"></i>Have any Question?</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- header-midle --}}
                <div class="header-midle bg-white border-bottom">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-6 col-sm-6 col-xl-6">
                            <div class="header-midle-left">
                                {{!-- <img src="" alt=""> --}}
                                <h2><span>Laundry</span>Express</h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-6 col-sm-6 col-xl-6  d-flex align-items-end w-100">
                            <div class="header-midle-right w-100 d-flex justify-content-between">
                                <a href="#" class="text-right">WANT A LAUNDER? <br> CALL US NOW!</a>
                                <span class="text-lg">+880123-456789</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- main-menu --}}
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Order</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                      <div class="header-bottom-right">       
                     </div> 
                </div>
            </div>
        </header>
         {{!-- breadcrumb-start --}}
        <section class="breadcrumbs-section background_bg" data-img-src="images/checkout-breadcrumbs-img.jpg" style="background: url(images/checkout-breadcrumbs-img.jpg) center center / cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="page_title text-center">
                        <h1>My Cart</h1>
                        <ul class="breadcrumb justify-content-center">
                            <li><a href="home">home</a></li>
                            <li><a href="#">shop</a></li>
                            <li><span>Cart</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       </section>
       {{!-- cart-wrapper --}}
       <section class="cart-view-wrapper" style="min-height: 500px;">
          <div class="card border m-2 p-2 mb-5">

              <div class="container">
                  <h3 class="card-title border-bottom m-2 p-2 ">Item in Your Bag</h3>
                  <div class="row"> 
                        <!-- cart-box-home -->
                            <div class="cart-box-home-top cart-page-cart-wrapper col-md-12" id="cart-box-home-top"></div>
                            <!-- single-product -->
                            <h4 id="noItemAdded" class="m-2 p-2"></h4>

                         <div class="sub-total-shipping d-flex align-items-end w-100 m-2 p-2">
                             <table>
                             <tr>
                                 <td class="text-right pr-2">Bag Subtotal :</td><td id="cartTotalAmount"></td>
                             </tr>
                             <tr>
                                 <td class="text-right pr-2">Shipping Charge :</td>
                                 <td>$ <span id="shippingCost">50</span></td>
                             </tr>
                             <tr>
                                 <td class="text-right pr-2"><b >Total :</b></td>
                                 <td><b>$<span id="cart-view-total"></span></b></td>
                             </tr>
                         </table> 
                         </div>
                         <div class="cart-view-footer w-100 ">
                             <ul class="d-flex justify-content-between  w-100 border-top pt-3">
                                 <li><a href="home" class="btn btn-warning">Continue Shopping</a></li>
                                 <li><a onclick="sessionValue();"  class="btn btn-primary">Checkout</a></li>
                             </ul>
                         </div>  
                       
                        
                      
                       
                     
                  </div>
              </div>
          </div>


       </section>
      
    <!-- footer-section -->
    <footer>
      <div class="footer-section">
          <div class="container">
              <div class="row">
                  <!-- single-footer-widget -->
                  <div class="col-md-5 col-lg-5 col-xl-5 col-12 col-sm-12">
                      <div class="single-widget">
                        <div class="logo">
                            <img src="assets/images/logo/logo.png" alt="logo.png">
                        </div>
                        <p>Get in touch with smart technology and get your Expected service from Technolt</p>
                        <div class="social-link">
                            <ul>
                                <li><a href="https://www.facebook.com/polockgrp/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                      </div>
                  </div>
                    <!-- single-footer-widget -->
                    <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                       <h5>Our Concern</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="http://www.ngitbd.com/">NGIT</a></li>
                                <li><a href="http://1touchbd.com/">1touch</a></li>
                                <li><a href="https://www.facebook.com/PolockInteriorDesign">Polock Interior</a></li>
                                <li><a href="dryexpre.com.bd">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                        <!-- single-footer-widget -->
                  <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Services</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="#">Interior</a></li>
                                <li><a href="#">Bank Management System</a></li>
                                <li><a href="#">Home & Commercial Automation </a></li>
                                <li><a href="#">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single-footer-widget -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Our Address</h5>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-house"></i>
                            </div>  
                             <div class="add-info">
                                3, 2, B, King of Dubai Commercial - (Bur Dubai Mankhool )
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-mail"></i>
                            </div>  
                             <div class="add-info">
                                info@polockgroup.com
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-call"></i>
                            </div>  
                             <div class="add-info">
                                +971 54 746 2503
                             </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 copyright-bottom">
                   <div class="row">
                       <div class="col-md-7 col-xl-7 col-lg-7 col-12 col-sm-12">
                           <p class="text-center">Copyright ©2020 All rights reserved | technolt is made by  <a href="#">1-touch</a></p>
                       </div>
                       <div class="col-md-5 col-xl-5 col-lg-5 col-12 col-sm-12">
                         <ul class="footer-link-bottom">
                             <li><a href="#">Terms of Service</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                             <li><a href="#">Support</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
              </div>
          </div>
      </div>
    </footer>
      </div>
      </div>
     
    </div>
     
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <script src="plugins/js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pages/frontend/home.js"></script>
    <script src="js/pages/frontend/active.js"></script>

    <script>
       // Variable-declaration-----------------
        const addTocartBtn = document.getElementById("addTocartBtn");
        const cartContentHome = document.getElementById("cart-content-home");
        const cartItemNumber = document.getElementById("cartItemNumber");
        const cartTotalAmount = document.getElementById("cartTotalAmount");
        const cartBoxHome = document.getElementById("cart-box-home-top");
        const clearCartBtn = document.getElementById("clearCartBtn");
        const singleCartItem = document.querySelector('.single-product-cart');
        const cartPageCartWrapper = document.querySelector('.cart-page-cart-wrapper');

        //cart-----------
        let cart = [];
        // custom-products- start ----taijul islam------------------------
        class Products{

        getProducts() {
            
                const modalTitle = document.querySelector(".modal-title").innerText;
                // const itemOnePrice = document.querySelector(".itemOnePrice").innerText;
                const itemPriceOneDom = document.getElementById('itemPriceOne');
                const itemPriceTwoDom = document.getElementById('itemPriceTwo');
                const itemPriceThreeDom = document.getElementById('itemPriceThree');
                const itemPriceFourDom = document.getElementById('itemPriceFour');
                let  itemPriceOne = 0;
                let  itemPriceTwo = 0;
                let  itemPriceThree = 0;
                let  itemPriceFour = 0;
                if(itemPriceOneDom.checked == true){
                    itemPriceOne = itemPriceOneDom.value;
                }
                if(itemPriceTwoDom.checked == true){
                    itemPriceTwo = itemPriceTwoDom.value;
                }
                if(itemPriceThreeDom.checked == true){
                    itemPriceThree = itemPriceThreeDom.value;
                }
                if(itemPriceFourDom.checked == true){
                    itemPriceFour = itemPriceFourDom.value;
                }
                let totalPrice= parseInt(itemPriceOne) + parseInt(itemPriceTwo) +parseInt(itemPriceThree)+ parseInt(itemPriceFour);
                // const itemTwoPrice = document.querySelector(".itemTwoPrice").innerText;
                // const itemThreePrice = document.querySelector(".itemThreePrice").innerText;
                // const itemFourPrice = document.querySelector(".itemFourPrice").innerText;
                const quantity = document.querySelector('.quantityNumber').innerText;
                const id = document.querySelector(".ProId").innerText;
                
                if(itemThreePrice == ''){
                    itemThreePrice.innerText ="0";
                }
                if(itemFourPrice == ''){
                    itemFourPrice.innerText ="0";
                }
                let products = {id, modalTitle, itemPriceOne,itemPriceTwo, itemPriceThree,itemPriceFour,quantity,totalPrice};
                return products;
            }

        }
        // custom-products- end ----taijul islam------------------------


        // display products
        class UI {
            
            setCartValues(cart){
                let tempTotal = 0.00;
                let itemsTotal = 0;
                cart.map(item => {
                    
                    let unitPrice = 0;
                    unitPrice=  parseInt(item.totalPrice) / parseInt(item.quantity);
                    tempTotal +=  unitPrice * parseInt(item.quantity);
                    // itemsTotal += item.amount;

                })
                cartTotalAmount.innerHTML =`${parseFloat(tempTotal.toFixed(2))}`;
                let cartViewTotal = document.getElementById('cart-view-total');
                let noItemAdded = document.getElementById('noItemAdded');
                let ShippingCost = document.getElementById('shippingCost').innerHTML;
                ShippingCost =  parseInt(ShippingCost);
                cartViewTotal.innerHTML = parseFloat(tempTotal + ShippingCost);
                if(tempTotal<1){
                    noItemAdded.innerHTML = "No item added in your bag!!";
                }
                // cartItemNumber.innerHTML = itemsTotal;

            }       
            setupAPP() {
                cart = Storage.getCart();
                //cart store in sessionStorage---
                sessionStorage.setItem('cart',cart)
                //display cart item into cart ------
                // this.addCartItem(cart);
                this.setCartValues(cart);
                 this.populateCart(cart);
                
                
            }
          addCartItem(item) {

        
            const total = parseInt(item.itemPriceOne) +parseInt(item.itemPriceTwo)+ parseInt(item.itemPriceThree)+parseInt(item.itemPriceFour);
            const div = document.createElement('div');
            div.classList.add('single-product-cart');
            div.innerHTML = `
                    <div class="cart-product-img" id="${item.id}">
                        <img src="images/icon/slide-icon4.png" alt="1.jpg">
                    </div>
                    <div class="cart-product-details-home">
                        <p>${item.modalTitle}</p>
                        <div class="cart-midle-home">
                          <div class="cart-midle-right-home">
                          <ul class="service-list service-list-cart">
                           <li>Dry Wash- ${item.itemPriceOne}</li>
                           <li>Steam Wash- ${item.itemPriceTwo}</li>
                           <li>Dry iron -${item.itemPriceThree}</li>
                           <li>Steam Iron -${item.itemPriceFour}</li>
                          </ul>
                           <div class="cart-bottom d-flex">
                            <ul class="quantity-controler-cart">
                                <li><button class="decrease-btn-cart" onclick="decrease('cart-quantity${item.id}','cart-item-amount${item.id}','${item.id}',${total})"><i class="fas fa-minus"></i></button></li>
                                <li class="cart-quantity" id="cart-quantity${item.id}">${item.quantity}</li>
                                <li><button class="increase-btn-cart" onclick="increase('cart-quantity${item.id}','cart-item-amount${item.id}','${item.id}',${total})"><i class="fas fa-plus"></i></button></li>
                            </ul>
                            <p class="mr-5 mt-2"><b id="cart-item-amount${item.id}">${item.totalPrice}</b>Tk</p>
                           </div>
                        </div>
                        </div>
                        
                    </div>
                    <div class="cart-item-del-btn-home">
                        <button onclick= "itemRemoveCart('${item.id}')" class="float-right closeBtn"><i class="far fa-times-circle"></i></button>
                    </div>`;
            cartBoxHome.appendChild(div);

        
       
    }
            populateCart(cart) {
                cart.forEach(item => this.addCartItem(item));
            }
            clearCart(){
                let cartItems = cart.map(item => item.id);
                cartItems.forEach(id => this.removeItem(id));
                while (cartBoxHome.children.length > 0) {
                    cartBoxHome.removeChild(cartBoxHome.children[0]);
                }
                
                }
        

            
        }
        // local storage
        class Storage{
            static saveProducts(products) {
                localStorage.setItem("products", JSON.stringify(products));
            }
            static getProduct() {
                let product = JSON.parse(localStorage.getItem('products'));
                return product;
            }
            static saveCart(cart) {
                localStorage.setItem("cart", JSON.stringify(cart));
            }
            static getCart() { 
            return localStorage.getItem('cart')?JSON.parse(localStorage.getItem('cart')):[]
            }


        }

        document.addEventListener("DOMContentLoaded", ()=> {
            const ui = new UI();
            // add product to the cart
            //setup application--------------
            ui.setupAPP();
            
            // .then(() => {
            //     alert("loaded");
            //     ui.addTocart();
            //     ui.cartLogic();
            // });
            
        });
      


        // cart-quantity-controler-----------------------
       // cart-quantity-controler-----------------------
            function increase(id1,id2,id3,unitPrice){
                var unitPrice = parseInt(unitPrice);
                var element = (document.getElementById(id1));
                var amountElement = (document.getElementById(id2));
                var amount = parseInt(amountElement.innerText);
                var cartQuantity = parseInt(element.innerText);
                // var unitPrice = Math.round(amount*cartQuantity);
                cartQuantity+=1;
                var total = unitPrice * cartQuantity;
                element.innerText = cartQuantity;
                amountElement.innerText  = total;

                // cart update------

                var cart = JSON.parse(localStorage.cart);
                for (var i = 0; i < cart.length; i++) {
                if(id3 === cart[i].id){  //look for match with id
                    cart[i].quantity = cartQuantity;// updating cart quantity
                    cart[i].totalPrice = total;// updating cart quantity
                    break;  //exit loop since you found the person
                }
                }
                const ui = new UI();
                ui.setCartValues(cart);
                localStorage.setItem("cart", JSON.stringify(cart));  //put the object back
            
            }
        function decrease(id1,id2,id3,unitPrice){
            var unitPrice = parseInt(unitPrice);
            var element = (document.getElementById(id1));
            var amountElement = (document.getElementById(id2));
            var amount = parseInt(amountElement.innerText);
            var cartQuantity = parseInt(element.innerText);
            cartQuantity-=1;
            if(cartQuantity<1){
                cartQuantity = 1;
            }
            var total = unitPrice * cartQuantity;
            element.innerText = cartQuantity;
            amountElement.innerText  = total;

            // cart update------

            var cart = JSON.parse(localStorage.cart);
            for (var i = 0; i < cart.length; i++) {
            if(id3 === cart[i].id){  //look for match with id
                cart[i].quantity = cartQuantity;// updating cart quantity
                cart[i].totalPrice = total
                break;  //exit loop since you found the person
            }
            }
            const ui = new UI();
            ui.setCartValues(cart);
            localStorage.setItem("cart", JSON.stringify(cart));  //put the object back
            
        }


        //   cartTotal value-------



        // Remove item---------------------
        function itemRemoveCart(id){
            const items =  JSON.parse(localStorage.getItem('cart'));
            const filtered = items.filter(item => item.id !== id);
            localStorage.setItem('cart', JSON.stringify(filtered));
            const element = document.getElementById(id);
            element.parentElement.remove();
            
        }

        //sessionStorage----------------------

     const  sessionValue =()=>{
        let cartViewTotal = document.getElementById('cart-view-total');
        let subtotal = document.getElementById('cartTotalAmount').innerText;
        const Total =  cartViewTotal.innerHTML;
        sessionStorage.setItem("subtotal",subtotal);
        sessionStorage.setItem("total",Total);
        window.location.href = "checkout";

       }


    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="active.js"></script>
    <script src="formValidate.js"></script>
    <script src="home.js"></script>

</body>

</html>