{{>header}}

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">All Reviews & Ratings List</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            <a href="/admin/home" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View Your Site</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Recent Ratings & Reviews</h3>
                            <p class="text-dark">Discover what people at <strong>E-call</strong> are saying about services they are taking</p>
                            <ul class="custom-dropdown">
                                <li><div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        last 3 months
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Last 6 Months</a>
                                        <a class="dropdown-item" href="#">Last 12 Months</a>
                                        <a class="dropdown-item" href="#">All</a>
                                    </div>
                                    </div>
                                </li>
                                 <li>
                                     <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            All Users
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Dotor</a>
                                            <a class="dropdown-item" href="#">Nurse </a>
                                            <a class="dropdown-item" href="#">Therapist</a>
                                        </div>
                                    </div>
                                </li>
                                 <li><div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Five Stars
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="single-doctor-profile">4 Stars</a>
                                        <a class="dropdown-item" href="create-message">3 Stars</a>
                                        <a class="dropdown-item" href="#">2 Stars</a>
                                    </div>
                                    </div>
                                </li>
                            </ul>
                            <p>64 of 122  internal ratings </p>
                            <hr>
                            <div class="result-box rating-list">

                                {{!-- single-doctor-ratings-wrap --}}
                                <div class="single-user-ratings-box py-3">
                                  <div class="row">
                                     <div class="col-md-8 col-lg-8 col-12 col-sm-8 box-left">
                                        <h4>Md.Shakib Al Hassan</h4>
                                         <div class="rating-view-wrap  d-flex">
                                            <ul class="rating-view mb-0">
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                           </ul>
                                           <span>1 month ago</span>
                                         </div>
                                         <div class="photo-with-content-wrap d-flex mt-3">
                                             <img src="plugins/images/doctor/doctor1.jfif" alt="">
                                             <div class="content-wrap ml-3">
                                                 <h4>Total Service Completed: <strong>56</strong></h4>
                                                 <span>Associate proffesor,BSMCMU Dhaka.</span>
                                                 <span>MBBS,DU, FCPS, USA</span>
                                             </div>
                                         </div>
                                     </div>
                                      <div class="col-md-4 col-lg-4 col-12 col-sm-4 box-left d-flex align-items-center">
                                        
                                        <div class="dropdown">
                                        <button style="background-color: transparent; color:#35ade9" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ACTION
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="single-doctor-profile">View</a>
                                            <a class="dropdown-item" href="create-message">Message </a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteDoctor">Delete</a>
                                        </div>
                                       </div>
                                     </div>
                                   </div>
                                </div>
                                {{!-- single-doctor-ratings-wrap --}}
                                <div class="single-user-ratings-box py-3">
                                  <div class="row">
                                     <div class="col-md-8 col-lg-8 col-12 col-sm-8 box-left">
                                        <h4>Md.Shakib Al Hassan</h4>
                                         <div class="rating-view-wrap  d-flex">
                                            <ul class="rating-view mb-0">
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                           </ul>
                                           <span>1 month ago</span>
                                         </div>
                                         <div class="photo-with-content-wrap d-flex mt-3">
                                             <img src="plugins/images/doctor/doctor1.jfif" alt="">
                                             <div class="content-wrap ml-3">
                                                 <h4>Total Service Completed: <strong>56</strong></h4>
                                                 <span>Associate proffesor,BSMCMU Dhaka.</span>
                                                 <span>MBBS,DU, FCPS, USA</span>
                                             </div>
                                         </div>
                                     </div>
                                      <div class="col-md-4 col-lg-4 col-12 col-sm-4 box-left d-flex align-items-center">
                                        
                                        <div class="dropdown">
                                        <button style="background-color: transparent; color:#35ade9" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ACTION
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="single-doctor-profile">View</a>
                                            <a class="dropdown-item" href="create-message">Message </a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteDoctor">Delete</a>
                                        </div>
                                       </div>
                                     </div>
                                   </div>
                                </div>
                                {{!-- single-doctor-ratings-wrap --}}
                                <div class="single-user-ratings-box py-3">
                                  <div class="row">
                                     <div class="col-md-8 col-lg-8 col-12 col-sm-8 box-left">
                                        <h4>Md.Shakib Al Hassan</h4>
                                         <div class="rating-view-wrap  d-flex">
                                            <ul class="rating-view mb-0">
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                           </ul>
                                           <span>1 month ago</span>
                                         </div>
                                         <div class="photo-with-content-wrap d-flex mt-3">
                                             <img src="plugins/images/doctor/doctor1.jfif" alt="">
                                             <div class="content-wrap ml-3">
                                                 <h4>Total Service Completed: <strong>56</strong></h4>
                                                 <span>Associate proffesor,BSMCMU Dhaka.</span>
                                                 <span>MBBS,DU, FCPS, USA</span>
                                             </div>
                                         </div>
                                     </div>
                                      <div class="col-md-4 col-lg-4 col-12 col-sm-4 box-left d-flex align-items-center">
                                        
                                        <div class="dropdown">
                                        <button style="background-color: transparent; color:#35ade9" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ACTION
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="single-doctor-profile">View</a>
                                            <a class="dropdown-item" href="create-message">Message </a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteDoctor">Delete</a>
                                        </div>
                                       </div>
                                     </div>
                                   </div>
                                </div>
                                {{!-- single-doctor-ratings-wrap --}}
                                <div class="single-user-ratings-box py-3">
                                  <div class="row">
                                     <div class="col-md-8 col-lg-8 col-12 col-sm-8 box-left">
                                        <h4>Md.Shakib Al Hassan</h4>
                                         <div class="rating-view-wrap  d-flex">
                                            <ul class="rating-view mb-0">
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                           </ul>
                                           <span>1 month ago</span>
                                         </div>
                                         <div class="photo-with-content-wrap d-flex mt-3">
                                             <img src="plugins/images/doctor/doctor1.jfif" alt="">
                                             <div class="content-wrap ml-3">
                                                 <h4>Total Service Completed: <strong>56</strong></h4>
                                                 <span>Associate proffesor,BSMCMU Dhaka.</span>
                                                 <span>MBBS,DU, FCPS, USA</span>
                                             </div>
                                         </div>
                                     </div>
                                      <div class="col-md-4 col-lg-4 col-12 col-sm-4 box-left d-flex align-items-center">
                                        
                                        <div class="dropdown">
                                        <button style="background-color: transparent; color:#35ade9" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ACTION
                                        </button>
                                        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="single-doctor-profile">View</a>
                                            <a class="dropdown-item" href="create-message">Message </a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteDoctor">Delete</a>
                                        </div>
                                       </div>
                                     </div>
                                   </div>
                                </div>
                              
                            </div>
                        </div>
                        <!-- Modal -->
                            <div class="modal fade" id="deleteDoctor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Warnning</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are You Sure to Delete this request permanantly????
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Delete</button>
                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{>footer}}