{{>header}}

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Service page</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            <a href="/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View Your Site</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <a href="/admin/clientlist" class="btn btn-primary ml-3"><i class="fa fa-list-ul pr-2" aria-hidden="true"></i> Client List</a>
                <div class="row pt-2 m-1">
                    <div class="col-sm-12">
                        {{#if message}}
                            <div class="alert alert-success" role="alert">
                                {{message.message}}
                            </div>

                        {{/if}}
                        <div class="card card-warning card-outline shadow">
                           <div class="card-body">
                            <form action="/admin/createclient" enctype="multipart/form-data" method="POST" id="noticeAddform" class="form-horizontal">
                                <!--title-->
                                <div class="form-group">
                                    <label for="title" class="control-label col-sm-2">client Title <span style="color:red">*</span></label>
                                    <div class="col-sm-12 ">
                                        <input type="text" id="title" name="title" class="form-control" required="required" value="" >
                                    </div>
                                </div> 
                                 <!--title-->
                                <div class="form-group">
                                    <label for="title" class="control-label col-sm-2">client Sub_Heading <span style="color:red">*</span></label>
                                    <div class="col-sm-12 ">
                                        <input type="text" id="title" name="sub_heading" class="form-control" required="required" value="" >
                                    </div>
                                </div>   
                                <div class="form-actions col-md-12">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle mr-2"></i>Create
                                    </button>
                                    
                                </div>
                            </form>
                           </div>
                        </div>
                    </div>
                   </div>
                </div>
            
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
           
          
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           {{>footer}}