<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- nivo-slider -->
    <link rel="stylesheet" href="assets/plugin/css/default.css">
    <link rel="stylesheet" href="assets/plugin/css/nivo-slider.css">
     <!-- font-awesome    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <!-- lightbox-gallery -->
     <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
     <!-- flat-icon -->
     <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
    {{!-- select 2 --}}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
     <!-- main-style -->
     {{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> --}}
   
    
     {{!-- carousel --}}

     <link rel="stylesheet" href="plugins/css/owl.carousel.min.css">
     <link rel="stylesheet" href="plugins/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <!-- <link rel="stylesheet" href="responsive.css"> -->
    <title>law association of Bangladesh</title>
</head>

<body>
  
{{!-- modal-wrapper-end --}}
    <div class="home-wrapper">
      <div class="containe">
           <div class="home-wrapper-inner bg-white">
        <header>
            <div>
                {{!-- header-top --}}
                <div class="header-top" style="padding: 8px 16px;">
                <div class="container-fluid" style="width: 90%;">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-6 col-sm-6 col-xl-6">
                            <div class="header-top-left">
                                <a href="#"><i class="far fa-comment-alt mr-1"></i>Feedback</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-4 col-sm-4 col-xl-4 offset-md-2 offset-lg-2 offset-sm-2 offset-xl-2 d-flex align-items-end w-100 ">
                            <div class="header-top-right w-100 d-flex justify-content-between">
                                <a href="/signup" class="text-right"><i class="fas fa-comment-dollar"></i></i>Join with us</a>
                                <a href="#" class="text-right"><i class="far fa-question-circle"></i>Have any Question?</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                {{!-- main-menu --}}
               <div class="container-fluid "style="width: 90%;">
                <div class="main-menu p-4">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-2">
                            <div class="header-bottom-right h-100">
                             <h4>LAB</h4>     
                        </div> 
                       </div>
                        <div class="col-lg-10 col-xl-10 col-md-10 ">
                       <nav class="text-right">
                          <ul>
                            <li><a class="active" href="/">Home</a></li>
                            <li><a href="event">Events</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="notice">Notice</a></li>
                            <li><a href="committee">Committee</a></li>
                            <li><a href="faq">Faq</a></li>
                            <li><a href="Video">Videos</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="/signup">Signup</a></li>
                            <li><a href="login">Login</a></li>
                         </ul>
                        </nav>
                      </div>
                    </div>
                     
                </div>
               </div>
            </div>
        </header>
    {{!-- signupform-wrapper --}}
    <!-- MultiStep Form -->
        <div class="container">
            <div style="height: 450px;" class="row justify-content-center align-items-center">
               <div class="card  border p-5 text-center w-100">
                   <div class="chek_icon">
                       <i class="fa fa-check text-success" style="font-size: 24px;"></i>
                   </div>
                   <strong>Email Verified</strong>
                   <span class="py-3">Congrations! Your email has been successfully verifed.</span>
                   <a href="/signin" class="btn btn-primary d-inline w-25 m-auto my-2">Return to Login</a>
               </div>
            </div>
        </div>
    <!-- footer-section -->
    <footer>
      <div class="footer-section">
          <div class="container">
              <div class="row">
                  <!-- single-footer-widget -->
                  <div class="col-md-5 col-lg-5 col-xl-5 col-12 col-sm-12">
                      <div class="single-widget">
                        <div class="logo">
                            <img src="assets/images/logo/logo.png" alt="logo.png">
                        </div>
                        <p>Get in touch with smart technology and get your Expected service from Technolt</p>
                        <div class="social-link">
                            <ul>
                                <li><a href="https://www.facebook.com/polockgrp/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                      </div>
                  </div>
                    <!-- single-footer-widget -->
                    <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                       <h5>Our Concern</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="http://www.ngitbd.com/">NGIT</a></li>
                                <li><a href="http://1touchbd.com/">1touch</a></li>
                                <li><a href="https://www.facebook.com/PolockInteriorDesign">Polock Interior</a></li>
                                <li><a href="dryexpre.com.bd">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                        <!-- single-footer-widget -->
                  <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Services</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="#">Interior</a></li>
                                <li><a href="#">Bank Management System</a></li>
                                <li><a href="#">Home & Commercial Automation </a></li>
                                <li><a href="#">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single-footer-widget -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Our Address</h5>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-house"></i>
                            </div>  
                             <div class="add-info">
                                3, 2, B, King of Dubai Commercial - (Bur Dubai Mankhool )
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-mail"></i>
                            </div>  
                             <div class="add-info">
                                info@polockgroup.com
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-call"></i>
                            </div>  
                             <div class="add-info">
                                +971 54 746 2503
                             </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 copyright-bottom">
                   <div class="row">
                       <div class="col-md-7 col-xl-7 col-lg-7 col-12 col-sm-12">
                           <p class="text-center">Copyright ©2020 All rights reserved | technolt is made by  <a href="#">1-touch</a></p>
                       </div>
                       <div class="col-md-5 col-xl-5 col-lg-5 col-12 col-sm-12">
                         <ul class="footer-link-bottom">
                             <li><a href="#">Terms of Service</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                             <li><a href="#">Support</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
              </div>
          </div>
      </div>
    </footer>
      </div>
      </div>
     
    </div>
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="plugins/js/owl.carousel.min.js"></script>
    <script src="plugins/js/step.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pages/frontend/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="formValidate.js"></script>
    <script src="home.js"></script>
    <script>
        $('.division').select2();
        $('.yearssc').select2();
        $('.yearhsc').select2();
        $('.yearbachelor').select2();
        $('.yearmasters').select2();
        $('.yearphd').select2();
        $('.district').select2();
        $('.upazila').select2();
        $('.institutionssc').select2();
        $('.year_hsc').select2();
        $('.institutessc').select2();
        $('.institutehsc').select2();
        $('.institutebachelor').select2();
        $('.institutemasters').select2();
        $('.institutephd').select2();
        $('.subjectbachelor').select2();
        $('.subjectmasters').select2();
        $('.subjectphd').select2();
    </script>
    <script>
   
       //-------dynamic upazila -----------------------------------
       const hiddendata = document.getElementById("hiddendata").value;
       const upazila = document.getElementById("upazila");

       const parsedata = JSON.parse(hiddendata);
       console.log(parsedata)
       const getDistrictValue =(e)=>{
           upazila.innerHTML = '';
          const districtvalue =  document.getElementById('district').value;
          let test = [districtvalue]
           //let test = [
          //  "Barishal",
           // ];
       let answer = parsedata.filter(item => (
        test.includes(item.districtname)
        )).map(item => item.upazila)
       //--------------------------------------------------------------------------------
 
            answer.forEach(arrfunction);
            
            function arrfunction(array_element) {
                console.log("array_element",array_element)
            
            document.getElementById("upazila").innerHTML += `<option value="${array_element}">${array_element}</option>`;
            
            }
       }
   

    </script>

</body>

</html>