<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- nivo-slider -->
    <link rel="stylesheet" href="assets/plugin/css/default.css">
    <link rel="stylesheet" href="assets/plugin/css/nivo-slider.css">
    <!-- font-awesome    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- lightbox-gallery -->
    <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
    <!-- flat-icon -->
    <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
    {{!-- select 2 --}}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- main-style -->
    {{!--
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    --}}



    <link rel="stylesheet" href="css/style.min.css">
    <!-- <link rel="stylesheet" href="responsive.css"> -->
    <title>Crowd carnival</title>
</head>

<body>

    {{!-- modal-wrapper-end --}}
    <div class="home-wrapper">

        <div class="home-wrapper-inner bg-white">
            <header>
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img width="100px" src="/images/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link " href="/signin">Login <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/signup">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/codeverify">Verification</a>
                                </li>


                            </ul>

                        </div>

                    </nav>
                </div>
            </header>
            <div class="form-wrapper section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2">
                            <h2 class="text-center">Signin</h2>
                            <form method="POST" class="common-form p-3" action="/signin" >
                                <div class="single-box-wrap mb-5">
                                    <div class="form-row">
                                        <div class="form-group col-md-12 col-lg-12 col-12 "><label
                                                for="refId">Phone</label><input type="text" class="form-control"
                                                id="inputEmail4" placeholder="Enter Phone" name="perPhoneOne" value="">
                                        </div>
                                        <div class="form-group col-md-12 col-lg-12 col-12 "><label
                                                for="refId">Password</label><input type="password" class="form-control"
                                                id="inputEmail4" placeholder="Enter password" name="password" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-right"><button type="submit"
                                        class="primary-button mt-3 border-0"> Sign In </button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-section -->
            <footer>
                <p class="text-center text-light p-3" style="background-color: rgb(2, 70, 73);">All Rights Reserved ©
                    crowdcarnival 2021</p>
            </footer>
        </div>


    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="plugins/js/owl.carousel.min.js"></script>
    <script src="plugins/js/step.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pages/frontend/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>


</body>

</html>