<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- nivo-slider -->
    <link rel="stylesheet" href="assets/plugin/css/default.css">
    <link rel="stylesheet" href="assets/plugin/css/nivo-slider.css">
    <!-- font-awesome    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- lightbox-gallery -->
    <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
    <!-- flat-icon -->
    <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
    {{!-- select 2 --}}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- main-style -->
    {{!--
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    --}}


    
    <link rel="stylesheet" href="css/style.min.css">
    <!-- <link rel="stylesheet" href="responsive.css"> -->
    <title>Crowd carnival</title>
</head>

<body>

    {{!-- modal-wrapper-end --}}
    <div class="home-wrapper">

        <div class="home-wrapper-inner bg-white">
            <header>
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img width="100px" src="/images/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link " href="/signin">Login <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/signup">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/codeverify">Verification</a>
                                </li>


                            </ul>

                        </div>

                    </nav>
                </div>
            </header>
            {{!-- signupform-wrapper --}}
            <div class="form-wrapper section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <h2 class="text-center heading-crowd" >Create Account</h2>
                            <form  class="common-form p-3" method="post" enctype="multipart/form-data" action="/signup">
                                <div class="accordion custom-accordion border" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h4 class="mb-0"><button class="btn btn-link btn-block text-left"
                                                    type="button" data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne"><span>Personal
                                                        Information</span><span class="float-right"><svg
                                                            stroke="currentColor" fill="currentColor" stroke-width="0"
                                                            viewBox="0 0 320 512" height="1em" width="1em"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
                                                            </path>
                                                        </svg></span></button></h4>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="single-box-wrap mb-5">
                                                    <h4 class="formheading">Personal Information</h4>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12 col-lg-12 col-12 "><label
                                                                for="refId" class="mandetory">Reference
                                                                Number</label><input type="text" class="form-control"
                                                                id="inputEmail4" placeholder="Enter your ref Id"
                                                                name="referenceNumber" value=""></div>
                                                        <div class="form-group col-md-12 col-lg-12 col-12 "><label
                                                                for="refId" class="mandetory">Email</label><input
                                                                type="email" class="form-control" id="inputEmail4"
                                                                name="email" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId" class="mandetory">First Name</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter your first name" name="firstName"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Last Name</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter your last name" name="lastName"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Phone-1</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter Mobile no" name="perPhoneOne"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Phone-2</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter mobile no" name="perPhoneTwo"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Phone-3</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter mobile no" name="perPhoneThree"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Date of
                                                                Birth</label><input type="date" class="form-control"
                                                                id="inputEmail4" name="dateOfBirth" value=""></div>
                                                        <div class="form-group col-md-12 col-lg-12 col-12 "><label
                                                                for="refId" class="mandetory">NID Number</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="NIDnumber" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">User Photo</label><input
                                                                type="file" class="form-control" id="inputEmail4"
                                                                placeholder="" name="userPhoto" accept="image/*">
                                                            <div class="image-upload-box w-100"
                                                                style="background-image: url(&quot;null&quot;); background-size: cover; background-position: center center;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">NID Front</label><input
                                                                type="file" class="form-control" id="inputEmail4"
                                                                placeholder="" name="NIDfront" accept="image/*">
                                                            <div class="image-upload-box w-100"
                                                                style="background-image: url(&quot;null&quot;); background-size: cover; background-position: center center;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">NID Back</label><input
                                                                type="file" class="form-control" id="inputEmail4"
                                                                placeholder="" name="NIDback" accept="image/*">
                                                            <div class="image-upload-box w-100"
                                                                style="background-image: url(&quot;null&quot;); background-size: cover; background-position: center center;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12 col-lg-12 col-12 "><label
                                                                for="refId" class="mandetory">Password</label><input
                                                                type="password" class="form-control" id="inputEmail4"
                                                                name="password" value=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h4 class="mb-0"><button class="btn btn-link btn-block text-left collapsed"
                                                    type="button" data-toggle="collapse" data-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo"><span>Present
                                                        Address</span><span class="float-right"><svg
                                                            stroke="currentColor" fill="currentColor" stroke-width="0"
                                                            viewBox="0 0 320 512" height="1em" width="1em"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
                                                            </path>
                                                        </svg></span></button></h4>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="single-box-wrap mb-5">
                                                    <h4 class="formheading">Present Address</h4>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">House Number</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter House Number"
                                                                name="presentAddHouseNo" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12"><label
                                                                for="refId" class="mandetory">House Name</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter House Name"
                                                                name="presentAddHouseName" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12"><label
                                                                for="refId">Lane Number</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Lane Number"
                                                                name="presentAddLaneNumber" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Lane Name</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter Lane Name" name="presentAddLaneName"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Road Number</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Road Number" name="presentAddRoadNo"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Road Name</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Road Name" name="presentAddRoadName"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Police
                                                                Station</label><input type="text" class="form-control"
                                                                id="inputEmail4" name="presentAddPoliceStn" value="">
                                                        </div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Village</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="presentAddVillage" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Upozella</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="presentAddUpozella" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">Post Code</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="presentAddPostCode" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">District</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="presentAddDistrict" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">Nearest
                                                                Landmark</label><input type="text" class="form-control"
                                                                id="inputEmail4" name="presentAddNearestLandmark"
                                                                value=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h4 class="mb-0"><button class="btn btn-link btn-block text-left collapsed"
                                                    type="button" data-toggle="collapse" data-target="#collapseThree"
                                                    aria-expanded="false" aria-controls="collapseThree"><span>Permananet
                                                        Address</span><span class="float-right"><svg
                                                            stroke="currentColor" fill="currentColor" stroke-width="0"
                                                            viewBox="0 0 320 512" height="1em" width="1em"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
                                                            </path>
                                                        </svg></span></button></h4>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="single-box-wrap mb-5">
                                                    <h4 class="formheading">Permanent Address</h4>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">House Number</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter House Number"
                                                                name="permanantAddHouseNo" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12"><label
                                                                for="refId" class="mandetory">House Name</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter House Name"
                                                                name="permanantAddHouseName" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12"><label
                                                                for="refId">Lane Number</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Lane Number"
                                                                name="permanantAddLaneNumber" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Lane Name</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter Lane Name"
                                                                name="permanantAddLaneName" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Road Number</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Road Number"
                                                                name="permanantAddRoadNo" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Road Name</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Road Name"
                                                                name="permanantAddRoadName" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Police
                                                                Station</label><input type="text" class="form-control"
                                                                id="inputEmail4" name="permanantAddPoliceStn" value="">
                                                        </div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Village</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="permanantAddVillage" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Upozella</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="permanantAddUpozella" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">Post Code</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="permanantAddPostCode" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">District</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="permanantAddDistrict" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">Nearest
                                                                Landmark</label><input type="text" class="form-control"
                                                                id="inputEmail4" name="permanantAddNearestLandmark"
                                                                value=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h4 class="mb-0"><button class="btn btn-link btn-block text-left collapsed"
                                                    type="button" data-toggle="collapse" data-target="#collapseFour"
                                                    aria-expanded="false" aria-controls="collapseThree"><span>Nominee
                                                        Details</span><span class="float-right"><svg
                                                            stroke="currentColor" fill="currentColor" stroke-width="0"
                                                            viewBox="0 0 320 512" height="1em" width="1em"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
                                                            </path>
                                                        </svg></span></button></h4>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="single-box-wrap mb-5">
                                                    <h4 class="formheading">Nominee Details</h4>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">Nominee
                                                                Relationship</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Nominee Relationship"
                                                                name="nomineeRelationship" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12"><label
                                                                for="refId" class="mandetory">Nominee
                                                                Percentage</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Nominee Percentage"
                                                                name="nomineePercentage" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12"><label
                                                                for="refId">Name</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Name" name="nomineeName" value="">
                                                        </div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="photograph"
                                                                class="mandetory">Photograph</label><input type="file"
                                                                class="form-control" id="inputEmail4" placeholder=""
                                                                name="nomineePhoto" accept="image/*">
                                                            <div class="image-upload-box w-100"
                                                                style="background-image: url(&quot;null&quot;); background-size: cover; background-position: center center;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Phone-1</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="nomineePhoneOne" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId">Phone-2</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                name="nomineePhoneTwo" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">House Number</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter House Number"
                                                                name="nomineeAddHouseNo" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12"><label
                                                                for="refId" class="mandetory">House Name</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter House Name"
                                                                name="nomineeAddHouseName" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12"><label
                                                                for="refId">Lane Number</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Lane Number" name="nomineeLaneNumber"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Lane Name</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                placeholder="Enter Lane Name" name="nomineeAddLaneName"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Road Number</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Road Number" name="nomineeAddRoadNo"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12"><label
                                                                for="refId">Road Name</label><input type="text"
                                                                class="form-control" id="inputEmail4"
                                                                placeholder="Enter Road Name" name="nomineeAddRoadName"
                                                                value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Police
                                                                Station</label><input type="text" class="form-control"
                                                                id="inputEmail4" name="nomineeAddPoliceStn" value="">
                                                        </div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Village</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="nomineeAddVillage" value=""></div>
                                                        <div class="form-group col-md-6 col-lg-6 col-12 "><label
                                                                for="refId" class="mandetory">Upozella</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="nomineeAddUpozella" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">Post Code</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="nomineeAddPostCode" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">District</label><input
                                                                type="text" class="form-control" id="inputEmail4"
                                                                name="nomineeAddDistrict" value=""></div>
                                                        <div class="form-group col-md-4 col-lg-4 col-12 "><label
                                                                for="refId" class="mandetory">Nearest
                                                                Landmark</label><input type="text" class="form-control"
                                                                id="inputEmail4" name="nomineeAddNearestLandmark"
                                                                value=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="primary-button mt-3 border-0 "> Sign Up </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-section -->
            <footer><p class="text-center text-light p-3" style="background-color: rgb(2, 70, 73);">All Rights Reserved © crowdcarnival 2021</p></footer>
        </div>


    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="plugins/js/owl.carousel.min.js"></script>
    <script src="plugins/js/step.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pages/frontend/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
   
 
</body>

</html>