{{>header}}

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         {{>nav}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Single Message View</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            <a href="/admin/home" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View Your Site</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
              		<!-- Page Content -->
			<div class="content">
				<div class="container">

					<!-- Doctor Widget -->
					<div class="card custom-widget">
						<div class="card-body">
							<div class="message-box-header d-flex w-100 justify-content-lg-between mb-5">
								<h5>From: <span>shimul@gmail.com</span>
								    <span class="d-block">Category: Doctor</span>
								</h5>
								<h5>Date: <span>01.02.2021</span></h5>
							</div>
							<h4>Request for Appointment</h4>
							<div class="msg-details-wrap mb-5">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita optio culpa, velit, alias quisquam fugit quia voluptates eius distinctio omnis id! Quidem quasi facilis animi, iure sint tenetur explicabo fugiat sapiente exercitationem voluptate, nisi quis ea assumenda nihil voluptates fuga officiis odit obcaecati omnis dicta sunt officia eveniet neque! Nobis?</p>
							</div>
							<div class="msg-box-action">
								<a href="create-message" class="btn btn-primary">Reply</a>
								<a href="" class="btn btn-danger">Delete</a>

							</div>

								
						</div>
					</div>
					
					

				</div>
			</div>		
			<!-- /Page Content -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{>footer}}